.countdown--timeLeft-value {
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 auto;
    text-align: center;
}

.countdown--timeLeft-label {
    font-size: 0.85rem;
    font-variant: small-caps;
    line-height: 1.5rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 0px;
}

.countdown > li {
    list-style-type: none;
    padding: 0px 16px;
}

.countdown {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-content: center;
    color: rgba(0,0,0,.5)
}

.countdown--timeLeft-container {
    display: flex;
    flex-direction: column;
}

.shout-it-loud {
    font-weight: 400;
    font-size: 40;
}