.responseImg {
    max-width: 100%;
}

.col-padded {
    padding-top: 15px;
}

.facebook-live {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:100px;
}

.live-video {
    max-height: 360px !important;
}

.fb-video {
    max-height: 360px;
}

.facebook-live iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}